Source: qtwuziqi
Section: utils
Priority: optional
Maintainer: liuminghang  <liuminghang0821@gmail.com>
Build-Depends: debhelper (>= 9),pkg-config, dpkg-dev, qt5-qmake, qtbase5-dev,qttools5-dev-tools
Standards-Version: 0.0-3
Homepage: qtwuziqi

Package: qtwuziqi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QtWuziqi.
