[Desktop Entry]
Categories=Application;
Comment=QtWuziqi
Comment[zh_CN]=Qt五子棋
Exec=QtWuziqi
GenericName=QtWuziqi
GenericName[zh_CN]=Qt五子棋
Icon=QtWuziqi
Name=QtWuziqi
Name[zh_CN]=Qt五子棋
StartupNotify=false
Terminal=false
Type=Application
Version=1.0.0.0
